# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter for Junos device metrics
Documentation=https://github.com/czerwonk/junos_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/junos_exporter
User=prometheus
ExecStart=/usr/bin/junos_exporter $JUNOS_EXPORTER_OPTS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
