# -*- mode: conf -*-

[Unit]

Description=Prometheus exporter for Couchbase server metrics.
Documentation=https://github.com/blakelead/couchbase_exporter
After=network.target


[Service]

EnvironmentFile=-/etc/default/couchbase_exporter
User=prometheus
ExecStart=/opt/couchbase_exporter/couchbase_exporter $COUCHBASE_EXPORTER_OPTS
Restart=on-failure


[Install]

WantedBy=multi-user.target
