# -*- mode: conf -*-

[Unit]
Description=Prometheus Graphite exporter.
Documentation=https://github.com/prometheus/graphite_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/graphite_exporter
User=prometheus
ExecStart=/usr/bin/graphite_exporter $GRAPHITE_EXPORTER_OPTS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
