# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter for PostgreSQL server metrics
Documentation=https://github.com/wrouesnel/postgres_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/postgres_exporter
ExecStart=/usr/bin/postgres_exporter $POSTGRES_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
