# -*- mode: conf -*-

[Unit]
Description=Blackbox prober exporter
Documentation=https://github.com/prometheus/blackbox_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/blackbox_exporter
User=prometheus
ExecStart=/usr/bin/blackbox_exporter $BLACKBOX_EXPORTER_OPTS
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
