# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter for iPerf3 probing.
Documentation=https://github.com/edgard/iperf3_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/iperf3_exporter
User=prometheus
ExecStart=/usr/bin/iperf3_exporter $IPERF3_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
