# -*- mode: conf -*-

[Unit]
Description=Haproxy exporter
Documentation=https://github.com/prometheus/haproxy_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/haproxy_exporter
User=prometheus
ExecStart=/usr/bin/haproxy_exporter \
          $HAPROXY_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
