# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter for MySQL server metrics.
Documentation=https://github.com/prometheus/mysqld_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/mysqld_exporter
User=prometheus
ExecStart=/usr/bin/mysqld_exporter $MYSQLD_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
