# -*- mode: conf -*-

[Unit]
Description=Smokeping-style prober for Prometheus
Documentation=https://github.com/SuperQ/smokeping_prober
After=network.target

[Service]
EnvironmentFile=-/etc/default/smokeping_prober
User=prometheus
ExecStart=/usr/bin/smokeping_prober $SMOKEPING_PROBER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
