# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter for apache mod_status statistics
Documentation=https://github.com/Lusitaniae/apache_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/apache_exporter
User=prometheus
ExecStart=/usr/bin/apache_exporter $APACHE_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
