# -*- mode: conf -*-

[Unit]
Description=Prometheus Pushgateway.
Documentation=https://github.com/prometheus/pushgateway
After=network.target

[Service]
EnvironmentFile=-/etc/default/pushgateway
User=prometheus
ExecStart=/usr/bin/pushgateway $PUSHGATEWAY_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
