# -*- mode: conf -*-

[Unit]
Description=Redis stats exporter for Prometheus
Documentation=https://github.com/oliver006/redis_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/redis_exporter
User=prometheus
ExecStart=/usr/bin/redis_exporter $REDIS_EXPORTER_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
