# -*- mode: conf -*-

[Unit]
Description=Thanos Query service.
Documentation=https://github.com/improbable-eng/thanos/
After=network.target
After=thanos-store.service

[Service]
EnvironmentFile=-/etc/default/thanos-query
User=prometheus
ExecStart=/usr/bin/thanos query \
          $THANOS_QUERY_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
