# -*- mode: conf -*-

[Unit]
Description=Thanos Query Frontend service.
Documentation=https://thanos.io/tip/thanos/
After=network.target
After=thanos-query.service

[Service]
EnvironmentFile=-/etc/default/thanos-query-frontend
User=prometheus
ExecStart=/usr/bin/thanos query-frontend \
          $THANOS_QUERY_FRONTEND_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
