# -*- mode: conf -*-

[Unit]
Description=Thanos Store Gateway service.
Documentation=https://github.com/improbable-eng/thanos/
After=network.target
After=thanos-sidecar.service

[Service]
EnvironmentFile=-/etc/default/thanos-store
User=prometheus
ExecStart=/usr/bin/thanos store \
          $THANOS_STORE_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
