# -*- mode: conf -*-

[Unit]
Description=Thanos Rule service.
Documentation=https://thanos.io/tip/thanos/
After=network.target

[Service]
EnvironmentFile=-/etc/default/thanos-rule
User=prometheus
ExecStart=/usr/bin/thanos rule \
          $THANOS_RULE_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
