# -*- mode: conf -*-

[Unit]
Description=Thanos Compactor service.
Documentation=https://github.com/improbable-eng/thanos/
After=network.target

[Service]
EnvironmentFile=-/etc/default/thanos-compact
User=prometheus
ExecStart=/usr/bin/thanos compact \
          $THANOS_COMPACT_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
