---
name: Check new exporter releases

on:
  schedule:
    - cron: "15 8,16 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check_new_releases:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: pip install ruamel.yaml PyGithub packaging

      - name: Run script to update auto package versions
        run: python update_templating_versions.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
